[Unit]
Description=Commit editorial data hourly

[Timer]
OnBootSec=15m
OnUnitActiveSec=1h
RandomizedDelaySec=5m
Persistent=true
Unit=rainrag-editorial-commit.service

[Install]
WantedBy=timers.target
